/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
    position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }


.bouton
{
    width:175px;
    height:27px;
    background-color:#b9c9fe;
    border: 1px solid #656565;
    color:black;
    padding-top: 7px;
    text-align:center;
    border-radius:10px;
    font-weight: bold;
    display:block;
    vertical-align:middle;
    margin: 22px 75px;

}
.prod{
    border: 1px solid #b9c9fe;
    height: 370px;
    width: 318px;
    margin-left: 7px;
    margin-top: 7px;
    background: #ffffff;
    float: left;
}
.prod img{
    margin-top: 10px;
    margin-left: 35px;
    height: 135px;
    width: 250px;
    border: 1px solid #b9c9fe;
}
.Marque
{
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
}
.prod .title{
    font-size: large;
    font-weight: bolder;
    color: #00405d;
    text-align: center;
}
.prod .modele{
    font-weight: bold;
    padding-right: 7px;
    padding-left: 20px;
    padding-top: 10px;
}
.titre {
    color: #b9c9fe;
    font-weight: bold;
    float: left;
    padding-right: 10px;

}
.prod .clr
{
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
}
.clr input
{
    width: 100px;
    text-align: center;
    background-color:#b9c9fe;
    font-weight: bold;
}
.clr select
{
    width: 100px;
    font-weight: bold;
}
.clr select option
{
    text-align: center;
}
.prod .qte
{
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
}
.qte select  {
    width: 60px;
}
.prod .Price{
    padding-top: 8px;
    font-weight:bold;
    padding-left: 20px;
}
.prod .qte
{
    padding-top: 8px;
    font-weight:bold;
}
.div1 ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 250px;
    padding:0; margin:0;
    list-style: none;
}
.div1 li {
    float: left;
}


#Content
{
    position: relative;
    margin-top: 30px;
}
.banniere{
    width: 90%;
    height: 254px;
    margin-left: 5%;
    border-bottom: 3px solid #b9c9fe;

}
.div1 img{
    float: left;
}
.div1{
    width: 64%;
    height: 250px;
    float: left;
    overflow: hidden;
}
.div2{
    width: 35%;
    margin-left: 65%;
    height: 250px;
    position: relative;
    background-color:#d0dafd;
}
#panier img
{
    height: 70px;
    width: 90px;
    padding-top: 0px;
}
#panier .prix
{
    float: right;
    line-height: 90px;
    font-weight: bold;
    margin-left: -5px;
    padding-right: 10px;
    font-size: 1.3em;
}
#panier
{
    width:190px;
    height: 65px;
    float: right;
    margin-top: -70px;
}
.div2 img
{
    height: 250px;
    width: 450px;
}
#barre{
    margin-top:23px;
    border: 3px solid #b9c9fe;
    height: 500px;
    width: 210px;
    float: left;
    background-color:#d3ddff;
    text-align: center;
    margin-left: 67px;
}
#barre #present img
{
    width: 200px;
    height: 170px;
}

#seemore
{
    padding-left: 17px;
    padding-right: 17px;
    text-align: left;
    font-weight: bold;
    line-height: 35px;
}
#seemore a
{
    padding-left: 5px;
}
li img{
    width: 105px;
    height: 100px;
    float: left;
}
#barre .title{
    font-weight: bolder;
    font-size: 2em;
    padding-bottom: 25px;
    padding-top: 20px;
    color: #b9c9fe;
}
.present p {
    width: 165px ;
    word-wrap: break-word;
}
#product{
    margin-left: 288px;
    height: 790px;
    width: 988px;
    margin-top: 15px;

}
.pagination {

    margin-top: 5px;
    height: 40px;
    margin-left: 8px;
    padding-top: 8px;
}
.pagination .title {
    float: left;
    font-family:monospace;
    font-size: larger;
    font-weight: bold;
    padding-left: 430px;
    color: #b9c9fe;
}
.pagination .page
{
    float: left;
    border: 2px solid black;
    width: 20px;
    height: 15px;
    text-align: center;
    background-color:#b9c9fe;
    margin-left: 8px;
}
