fieldset
{
	float:left;
	width:300px;
	height:360px;
	margin-right:25px;
	background:#b9c9fe url('C:/Program Files (x86)/EasyPHP-DevServer-14.1VC11/data/localweb/projects/E-Commerce/Web/images/gradback.png') repeat-x;
	color:black;
	border-radius:25px;
}
.field
{
	background: #e8edff;
	color:black;
	border-radius:25px;
	width:200px;
	height:120px;
	padding-left:78px;
	padding-top: 25px;
	position:absolute;

}
.field legend
{
	color:black;
}
legend
{
	text-align:center;
}
form label
{
	font-size:20px;
}
 form input
 {
	 margin-top:5px;
	 margin-bottom:5px;
	 margin-left:2px;
	 border-radius:25px;
	 width:200px;
 }
   form
  {
	  margin-top: -18px;
	  margin-left: -15px;
  }

#global {	
	MARGIN-TOP: -125px;
	LEFT: 35%; 
	MARGIN-LEFT: -350px; 
	POSITION: absolute; 
	TOP: 50%; HEIGHT: 400px; 
}
.bouton input{
display:block;
border: 0px solid;
width:175px;
height:50px;
line-height:50px;
text-align:center;
color:black;
vertical-align:middle;
margin-top:30px;
background-image:radial-gradient(#b9c9fe,#e8edff);
border-radius: 25px;
font-family:armenian;
}
